# Ignore parent virtual environment directory
../bin/
../lib/
../include/
../pyvenv.cfg
../Scripts/
../myenv/  # Ensures no other parts of `myenv` are added

# Django-specific
*.pyc
*.pyo
__pycache__/
db.sqlite3
/media/
staticfiles/

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db

# IDE-specific
.vscode/
.idea/
